<!DOCTYPE html>

<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1></h1>
		<form>
			<input name="serialnumber" placeholder="Numer seryjny" type="text">
			<select name="productionarea">
				<option value="Montaż Z1">Montaż Z1</option>
				<option value="Montaż Z2">Montaż Z2</option>
				<option value="Montaż Z4">Montaż Z4</option>
				<option value="Spawalnia Z1">Spawalnia Z1</option>
				<option value="Spawalnia Z2">Spawalnia Z2</option>
				<option value="Spawalnia Z4">Spawalnia Z4</option>
				<option value="Magazyn tymaczasowy">Magazyn tymczasowy</option>
				<option value="Magazyn nadsatnowy">Magazyn nadstanowy</option>
				<option value="Magazyn backup">Magazyn backup</option>
			</select>
		</form>
	</body>
</html>

