<!DOCTYPE html>

<html>
	<head>
		<title>PPP3/6 Labo</title>
	</head>
	<body>
		<h1>Podmiana narzędzia</h1>
		<form>
			<h2>Wpisz podmieniane narzędzie</h2>
			<input name="serialnumber" placeholder="Numer seryjny" type="text">
			<select name="productionarea">
				<option value="Montaż Z1">Montaż Z1</option>
				<option value="Montaż Z2">Montaż Z2</option>
				<option value="Montaż Z4">Montaż Z4</option>
				<option value="Spawalnia Z1">Spawalnia Z1</option>
				<option value="Spawalnia Z2">Spawalnia Z2</option>
				<option value="Spawalnia Z4">Spawalnia Z4</option>
				<option value="Magazyn tymaczasowy">Magazyn tymczasowy</option>
				<option value="Magazyn nadsatnowy">Magazyn nadstanowy</option>
				<option value="Magazyn backup">Magazyn backup</option>
			</select>
			<select name="producer" placeholder="Producent">
				<option value="amt">AMT</option>
				<option value="atlascopco">Atlas Copco</option>
				<option value="bosch">BOSCH</option>
				<option value="scs">SCS</option>
			</select>
			<select name="station" placeholder="Stanowisko">
				<option value="listastacji">listastacji</option>
			</select>
			<input type="submit" value="Podmień">
		<form>
	</body>
</html>

